doctype html
html
  head
      title=shortName
      style
        include style.css
center
    img#Found(src="https://www.lifewire.com/thmb/tP-WiDIt-ihlQB7LF_RTHzTrjng=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/404-not-found-error-explained-2622936-Final-387df77f30dd4c9d805012c2ba13fbc5.png")
